include bacmetsearch/data/BacMet2_EXP_database.dmnd
include bacmetsearch/data/BacMet2_EXP.mapping.tsv
include bacmetsearch/data/BacMet2_predicted_database.dmnd
include bacmetsearch/data/BacMet2_PRE.mapping.tsv
include bacmetsearch/bin/prodigal.linux
include bacmetsearch/bin/diamond
